#midheader{
    text-align: center;
    display:flex;
    }
    #midheader .flex{
      height: 120px;
    }
  #searchForm{
    display: flex;
    justify-content: center;
  }
  #searchForm input[type="text"]{
    background-color: #F2F2F2;
    border:1px solid #CE7B42;
    padding: 6px 8px;
    width: 300px;
    color:#969595;
    border-right: unset;
  }
  #searchForm input{
    font-size:14px;
    color:#D6D4D4;
  }
  #searchForm input:focus{
    outline:none;
  }
  #searchForm input[type="image"]{
    background-color: #4BC7CA;
    padding: 5px 8px;
    width: 24px;
  }
  .search-container{
    display: flex;
  }
  .browse-container{
    display: flex;
    align-items: center;
    margin: 0 11px 0 0;
    cursor: pointer;
  }
  .browse-container .container-cat{
    border: 1px solid #CE7B42;
    padding: 4px 15px;
  }
  .browse-container .container-cat p{
    font-size:16px;
  }
  .image-browse{
    background-image: linear-gradient(to bottom left, #de495e 49% , #efbf52);
    padding: 2px 5px;
  
  }
  .image-browse img{
    width:18px;
    position: relative;
    top: -2px;
  }
  .container-cat{
    border:1px solid #CE7B42;
  }